/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-24, 20:09:24
    Author     : andrzej
*/

#windows7 {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 2 20 2 20;
    -fx-text-fill: black;
    -fx-font-size: 1.5em;
    -fx-border-color: black; 
    -fx-border-width: 1 0.5 1 0.5;
    -fx-font-weight: bold;
}

#hbuttonMenu {
    -fx-background-color: #3c7fb1;
    -fx-padding: 5 0 5 0;
}

#userText {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.table-view{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-font-size: 1.15em;
    -fx-border-color: grey;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.table-view .column-header-background .label {
    -fx-text-fill: white;    
}


#stackbottomPaneC {
    -fx-spacing: 20;
/*    -fx-padding: 0 0 20 0;*/
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;    
}

#stackbottomPaneL {
    -fx-spacing: 20;
    -fx-padding: 20 40 20 40;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-border-color: black;
    -fx-border-width: 0 2 2 2;
    -fx-border-style: solid;   
}

#bottomPane {
    -fx-background-color: 
    #000000,
    linear-gradient(#7ebcea, #2f4b8f),
    linear-gradient(#426ab7, #263e75),
    linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
}

#lOpisMsgBox1-Black {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:   white;
    -fx-padding: 5 20 5 0;
}

#lOpisMsgBox1-Black1 {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:   #000000;
}

#hboxMsgBox2 {
    -fx-spacing: 10;
    -fx-padding: 5 60 5 0;
}

#hboxMsgBox3 {
    -fx-spacing: 10;
    -fx-padding: 5 70 5 0;
    -fx-border-color: #330033;
    -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
}

#lOpisMsgBox1-Black2 {
    -fx-font-size:   14px;
    -fx-font-family: "Arial";
    -fx-text-fill:   #000000;
    -fx-background-color: white;
    -fx-padding: 5 5 5 5;
}

#borderPane {
    -fx-padding: 0 0 0 0;
}

#stackbottomPaneR {
    -fx-spacing: 15;
    -fx-padding: 15 0 15 0;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-border-color: black;
    -fx-border-width: 0 2 2 2;
    -fx-border-style: solid;    
}

#gridAddTitle {
       -fx-font-size: 20px;
       -fx-font-family: "Arial Black";
       -fx-text-fill: white;
}

#hbGridAddTitle {
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 10 0;
    -fx-border-style: solid;
    -fx-spacing: 10;
}

#hboxMsgBox1 {
    -fx-spacing: 10;
}

#lOpisMsgBox1-Red {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:   white;
}

#windows7Stat {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-spacing: 15;
    -fx-padding: 5 40 5 40;
}

#windows7Zda {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-padding: 5 20 5 20;
}

#rich-blue {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 10 5 10 5;
    -fx-spacing: 10;
}