/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-24, 20:09:24
    Author     : Andrzej Pawlik
*/

/*Styl, który odpowiada za wygląd wszystkich przycisków (Button) w oknie głównym.*/
#windows7 {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 2 20 2 20;
    -fx-text-fill: black;
    -fx-font-size: 1.5em;
    -fx-border-color: black; 
    -fx-border-width: 1 0.5 1 0.5;
    -fx-font-weight: bold;
}

/*Styl odpowiada za wyświetlanie w kolorze czerwonym imienia i nazwiska użytkownika*/
#userText {
    -fx-text-fill: red;
}

/*Styl odpowiada za zarządcę rozkładu menu w oknie głównym na samej górze*/
#hbMenu {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 10 5 10 5;
}

/* Style odpowiedające za wygląd Tabeli w oknie głównym */
.table-view{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-font-size: 1.15em;
    -fx-border-color: grey;
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
}

.table-view .column-header-background .label {
    -fx-text-fill: white;    
}

/*Styl odpowiada tylko za tło zarządcy rozkałdu, w którym umieszczone są poszczególne elementy:
    w MainWindow.java:
        bottomPane.setTop(HBoxBottomPaneTop);
        bottomPane.setLeft(VBoxBottomPaneLeft);
        bottomPane.setRight(VBoxBottomPaneRight);
        bottomPane.setCenter(VboxBottomPaneCenter);
        */
    
#BottomPane {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 0 0 0 0;
}

/*Styl odpowiada za zarządcę rozkładu HBox, któr jest umieszczony na górze Bottom Pane. */
#HBoxBottomPaneTop {
    -fx-padding: 10 5 10 5;
    -fx-spacing: 10;
    -fx-font-family: "Arial Black";
    -fx-font-size: 1.15em;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
}

/*Style odpowidaja za itemy w HBox:
    HBoxBottomPaneTop_Item_uTextNow - skrócona nazwa HBPTItem_uTextNow
*/
#HBPTItem_uTextNow {
    -fx-text-fill: white;
    -fx-padding: 5 20 5 0;
}

#HBPTItem_Zdarzenie {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-padding: 5 20 5 20;
    -fx-text-fill: white;
}

/*Styl odpowiada za zarządcę rozkładu VBox, któr jest umieszczony po lewej stronie Bottom Pane. 
    tutaj są umieszczone dwa duże przyciski. Jeżeli chcesz zmienić je skopiuj styl windows7 i nadaj 
    nazwę zgodnie z podanym wzorem wyżej i dodaj pod spodem.
*/
#VBoxBottomPaneLeft {
    -fx-spacing: 20;
    -fx-padding: 20 40 20 40;
    -fx-border-color: black;
    -fx-border-width: 0 2 2 2;
    -fx-border-style: solid;   
}

/*Styl odpowiada za zarządcę rozkładu VBox, któr jest umieszczony po prawej stronie Bottom Pane. */
#VBoxBottomPaneRight {
    -fx-spacing: 15;
    -fx-padding: 15 0 15 0;
    -fx-border-color: black;
    -fx-border-width: 0 2 2 2;
    -fx-border-style: solid;    
}

/*Style odpowiadają za nagłówek - napis "Statystyki" w prawym dolnym rogu */
#VBPR_hbTitle {
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid; 
    -fx-padding: 0 0 10 0; 
}

#VBPR_hbTitle_Item_title {
       -fx-font-size: 1.5em;
       -fx-font-family: "Arial";
       -fx-text-fill: white;   
}

/* Style odpowiadają za statystyki i elementy w nich umieszczone:
        (Item_text) : (Item_number)
        Stan osobowy: Liczba
        Wypisanych:   Liczba  
        Obecnych:     Liczba
*/
#VBPR_hbOpis {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-spacing: 15;
    -fx-padding: 5 40 5 40;
    /* Odpowiadaja za wielkość i styl czcionki Item_text i Item_number */
    -fx-font-size: 1.10em;
    -fx-font-family: "Arial Black";
}

#VBPR_hbOpis_Item_text {
    -fx-text-fill: black;   
}

#VBPR_hbOpis_Item_number {
    -fx-text-fill:  white;
}

/*Styl odpowida za zarządcę rozkładu VBox, któr jest umieszczony w centrum Bottom Pane. */
#VboxBottomPaneCenter {
    -fx-padding: 10 0 15 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;    
}

#VBPC_hbFirst {
    -fx-padding: 0 5 5 5;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;      
}

#VBPC_hbFirst_Item_lParticipant {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-size: 1.5em;
}